<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lk.weather">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AirActivity.AirActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RainActivity.RainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WindSpeedActivity.WindSpeedActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RainActivity.RainAddData" />
        <activity android:name=".RainActivity.RainModifyData" />
        <activity android:name=".WindSpeedActivity.WindAddActivity" />
        <activity android:name=".WindSpeedActivity.WindModifyData"></activity>
    </application>

</manifest>